# 编译产物
cpu/br25/tools/*.bin
cpu/br25/tools/*.fw
cpu/br25/tools/*.ufw
cpu/br25/tools/*.elf
cpu/br25/tools/*.txt
cpu/br25/tools/*.o
objs/
*.o

# IDE
*.cbp
*.layout

# Python
__pycache__/
*.pyc
*.pyo

# AtomCode 配置
.atomcode/

# 系统
Thumbs.db
.DS_Store
